# Data Science Tool and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

# printing a list of popular data science languages

In [2]:
print("Some of the popular languages that Data Scientists use are:\n")

Some of the popular languages that Data Scientists use are:

# List of data science languages

In [4]:
Languages = ["Python", "R", "SQL", "Julia", "Scala"]

# Loop through the list and print each language with its number

In [9]:
for i, lang in enumerate(Languages, 1):
    print(f"{i}. {lang}")

1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. SciPy
5. Scikit-learn

| Data Science Tools       |
|---------------------------|
| Jupyter Notebook          |
| RStudio                   |
| Apache Zeppelin           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [13]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

**Objectives:**

- List popular languages for Data Science
- Create and render Markdown cells in Jupyter Notebook
- Write Python code to perform basic arithmetic operations
- Create a table using Markdown

## Author
Emmanuel Sekyi